/**
  * @name Revert Rebrand
  * @author GooseNest
  * @donate https://github.com/sponsors/CanadaHonk
  * @description Reverts Discord's 2021 rebrand (font, colors, reactions, mentions, loading screen, home icon, reply ping color, and more)
  * @invite neMncS2
  * @source https://Goose-Nest.github.io/GT-RevertRebrand/src/RevertRebrand.theme.css
  * @website https://github.com/Goose-Nest/GT-RevertRebrand
  * @version 5.2
*/

/* If you do not want some things reverted, commend out imports like /* @import url("...") */

/* [Recommended] Revert CSS variables: colors, fonts */
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/variables.css');

/* Generated hardcoded color fixes */
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/hardcoded.css');


/* Individual components: */

/* Revert mentions */
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/components/mentions.css');

/* Revert reactions */
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/components/reactions.css');

/* Revert profile pictures */
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/components/pfps.css');

/* Revert folders (default colors back to old blurple) */
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/components/folders.css');

/* Revert windows wordmark */
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/components/wordmark.css');

/* [Optional] Revert new user popouts */
/* @import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/components/userPopout.css'); */

/* [Optional] Revert new role designs */
/* @import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/components/roles.css'); */

/* General changes: */

/* Revert some BD specific elements */
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/general/bd.css');

/* Revert some inputs */
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/general/inputs.css');

/* Revert some SVGs (colors for smaller icons) */
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/general/svgs.css');

/* Revert some other minor things */
@import url('https://Goose-Nest.github.io/GT-RevertRebrand/src/general/other.css');

@import url(https://cdn.statically.io/gh/Overimagine1/old-discord-font/main/source.min.css);

/* Better Jump To Present Button */
[class*="jumpToPresentBar"] {
    display: contents;
}
[class*="jumpToPresentBar"] > button:first-child {
    display: none;
}
[class*="jumpToPresentBar"] > button:last-child {
    position: absolute;
    z-index: 1;
    bottom: 24px;
    right: 22px;
    padding: 8px !important;
    height: auto;
    background-color: #7289da;
    box-shadow: var(--elevation-high);
    border-radius: 100px;
    display: flex;
    font-size: 0px;
    color: transparent;
    transition: font-size .2s .1s, color .2s, padding .4s .1s;
}
[class*="jumpToPresentBar"] > button svg {
    order: -1;
    margin: 0px;
    height: 24px;
    width: 24px;
    top: auto;
    margin-right: 0px;
    margin-left: 0px;
    color: #FFFFFF;
    transition: margin .6s;
}
[class*="jumpToPresentBar"]:hover > button {
    padding: 8px 18px !important;
    font-size: 14px;
    color: #FFFFFF;
    transition: font-size .2s, color .2s .1s, padding .4s;
}
[class*="jumpToPresentBar"]:hover > button svg {
    margin-right: 2px;
    margin-left: -6px;
}

/* Re-round Spotify Status Images */
.assetsLargeImageSpotify-17ME3M{border-radius:8px;}
